* {
    margin: 0;

    padding: 0;
}

body {
    background: linear-gradient(#232630, #050507);

    font-family: sans-serif;

    min-height: 100vh;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}